html {
  height: 100%;
}
/*navbar section*/
#navbar {
  display: grid;
  grid-template-columns: 50px 50px 1fr 50px 50px 50px 50px;
  grid-template-rows: 50px;
  grid-template-areas:
  "about store . gmail image menu sign-in";
  margin: 0 20px 0 10px;
}

a, p {
  text-decoration: none;
  color: #000;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}
a:hover {
  text-decoration: underline;
}

#about {
  grid-area: about;
  justify-self: center;
  align-self: center;
}
#store {
  grid-area: store;
  justify-self: center;
  align-self: center;
}
#gmail {
  grid-area: gmail;
  justify-self: center;
  align-self: center;
}
#image {
  grid-area: image;
  justify-self: center;
  align-self: center;
  margin-right: 10px;
}

#menu {
  grid-area: menu;
  justify-self: center;
  align-self: center;
  margin-right: 20px;
}

#sign-in {
  grid-area: sign-in;
  justify-self: center;
  align-self: center;
  background: -webkit-linear-gradient(top,#4387fd,#4683ea);
  height: 30px;
  width: 65px;
  line-height: 30px;
  text-align: center;
  color: white;
  font-weight: bold;
}

/*Main Section*/
#main {
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 250px 70px 70px 250px;
  grid-template-areas:
  ". logo ."
  ". search ."
  ". flexbox ."
  ". google-text . "
}

#logo {
  grid-area: logo;
  justify-self: center;
  align-self: end;
}
#search {
  grid-area: search;
  height: 30px;
  width: 100%;
  justify-self: center;
  border: 1px solid rgba(15, 11, 15, 0.23);
  border-radius: 30px;
}

#search:focus {
    box-shadow: 1px 1px 5px grey;
}

#search:hover {
    box-shadow: 1px 1px 5px grey;
}
#flexbox {
  display: flexbox;
  grid-area: flexbox;
  justify-self: center;
  align-self: center;
}
#google-search-btn {
  border: none;
  font-size: 15px;
  color: #5F6368;
  margin-right: 25px;
  padding: 7 15px 7 15px;
  border-radius: 3px;
}
#random-search-btn {
  border: none;
  font-size: 15px;
  color: #5F6368;
  padding: 7 15px 7 15px;
  border-radius: 3px;
}

#google-search-btn:hover {
  border: 1px solid rgba(11, 8, 14, 0.32);

}
#random-search-btn:hover {
  border: 1px solid rgba(11, 8, 14, 0.32);
}

#google-text {
  grid-area: google-text;
  justify-self: center;
}
#deutsch {
  color: blue;
}

/*footer section*/
#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: 100px 100px 150px 1fr 70px 70px 70px;
  grid-template-rows: 50px;
  grid-template-areas:
  "advertising business hsw . privacy terms settings";
}

#advertising {
  grid-area: advertising;
  justify-self: center;
  align-self: center;
}
#business {
  grid-area: business;
  justify-self: center;
  align-self: center;
}
#hsw {
  grid-area: hsw;
  justify-self: center;
  align-self: center;
}
#privacy {
  grid-area: privacy;
  justify-self: center;
  align-self: center;
}
#terms {
  grid-area: terms;
  justify-self: center;
  align-self: center;
}
#settings {
  grid-area: settings;
  justify-self: center;
  align-self: center;
}
